@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --bk-color: #072347;
    --textColor: white;
    --ff: 'Rubik', sans-serif;
    --color1: #A5BEFA;
    --color2: #B3093F;
    --color3: #451531;
    --color4: #64B7CC;
    --color5: #FF3877;
}

body{
    background-color: var(--color2);
}
.page{
    min-width: 37.5rem;
    margin: 0 auto;
}

#brand{
    text-transform: uppercase;
}

a{
    color:var(--textColor);
    text-decoration: none;
}

a span{
    color:black;
}

.navFormations{
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: var(--textColor);
    display: flex;
    gap: 1.4rem;
    margin-bottom: 0.9rem;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.apresentation {
    margin: 5%;
}

.apresentation p {
    font-size: 2rem;
    hyphens: auto;
    text-align: justify;
}

#registration{
    color: black;
}

main h1{
    font-size: 3.6rem;
    color: var(--textColor);
    text-transform: uppercase;
}
main p{
    font-size: 1.6rem;
    color: var(--textColor);
}

.video{
    display: flex;
    justify-content: center;
    margin: 5%;
    height: 400px;
}

@media(max-width:600px) {
    .video{
        height: 250px;
    }
}

iframe{
    height: auto;
    padding: 8px 8px 8px 8px;
    background-color: var(--textColor);
    border-radius: 8px;
}

.tipos-cursos {
    margin: 5rem;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(20rem, auto);
    font-size: 1.5rem;
}

.card span {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

@media (max-width: 650px) {
    .courses {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(15rem, auto);
    }
    .card span {
        font-size: 2rem;
    }
}

.card{
    border-radius: 5px;
    background-color: var(--color1);
    margin: 6%;
    position: relative;
}

.card:hover {
    background-color: var(--color4)
}

.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3%;
    font-size: 1.5rem;
}

.description h2{
    color: var(--textColor);
    text-transform: uppercase;
    margin-top: 1.0rem;
    text-align: center;
}
.description p{
    color: var(--textColor);
    font-size: 1.6rem;
    margin-top: 1.0rem;
    text-align: center;
}

#explanation{
    width: 17.0rem;
    height: 5.0rem;
    border-radius: 8px;
    border-style: none;
    margin: 0 auto;
    margin-top: 1.0rem;
}

#titulo-form {
    text-align: center;
}

#myForm{
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
    font-size: 1.5rem;
}

#myForm fieldset {
    width: 75%;
    position: relative;
    transform: translateX(-50%);
    left: 50%
}

#myForm fieldset label {
    color: white;
    font-weight: bold;
    padding: 3px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

#btn-submit {
    width: 20%;
    border-radius: 5px;
    position: relative;
    transform: translateX(-50%);
    left: 50%
}