header a {
    color: #FFF;
    text-decoration: none;
}

/* Pagina cursos */

.titulo-main {
    font-size: 2.5rem;
    padding: 3%;
}

.cursos-disponiveis {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
}

.cards-cursos {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
}

@media (max-width: 650px) {
    .cards-cursos {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    }
    .curso p {
        text-align: justify;
        margin: 0 20px 10px;
        hyphens: auto;
    }
}

.cards-cursos :hover {
    background-color: var(--color2);
}

.curso {
    color: #FFFFFF;
    margin: 5%;
    background-color: var(--color5);
    border-radius: 5px;
}

.curso a {
    text-decoration: none;
    color: #FFFFFF;
}

.curso h3 {
    margin: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.curso p {
    text-align: justify;
    margin: 0 20px 10px;
}

/* Pagina de um curso */

.curso-atual {
    background-color: var(--color5);
}

.apresentacao-curso {
    font-size: 2rem;
    text-align: left;
    padding: 10%;
    text-align: justify;
    color: #FFFFFF;
    box-sizing: border-box;
}

.apresentacao-curso p {
    margin-top: 20px;
    font-size: 2rem;
}

.dados-curso h3 {
    font-size: 2rem;
    padding-left: 10%;
    margin-bottom: 2%;
}

.container-dados-curso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 1%;
}

.container-dados-curso .carga-horaria {
    display: flex;
    align-items: center;
}

.container-dados-curso .qtd-projetos {
    display: flex;
    align-items: center;
}

.icones-formacao {
    padding: 1rem;
    width: 3.7rem;
}

.descricao-curso {
    text-align: justify;
    font-size: 1.5rem;
    text-align: center;
}

.descricao-curso article {
    display: inline-block;
    width: 80%;
    text-align: justify;
}

.descricao-curso h2 {
    margin: 20px 0 20px;
    font-size: 2.3rem;
}

.acesse-curso {
    margin: 50px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: red;
}
